.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8AC542;
  padding: 16px 16px;
  font-weight: bold;
}

.header_logos {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_logos img {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 12px 8px 0;
}

.header_pageTitle {
  color: white;
  line-height: 40px;
  font-size: 22px;
}

.header_avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs_item {
  padding: 16px 0px;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.tabs_item.active {
  background-color: #8AC542;
  color: white;
}

.tabs_item:hover {
  opacity: 0.9;
}

.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.card_title {
  font-size: 22px;
  margin-bottom: 32px;
}

.card_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_heart img {
  width: 16px;
  height: 16px;
}

.card_heart span {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #8AC542;
  line-height: 16px;
}

.card_detail {
  padding-top: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

.card_detail img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 8px;
}

.card_content {
  padding: 16px 16px;
}

.card_image {
  height: 180px;
  position: relative;
  overflow: hidden;
}

.card_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.article {
  background-color: white;
  margin: 16px 16px;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.article_title {
  font-size: 22px;
}

.article_detail {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  position: relative;
}

.article_detail img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 16px;
}

.article_detail_actions {
  right: 0px;
  position: absolute;
}

.article_content {
  padding: 24px 0 32px;
}

.article_heart {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.article_heart img {
  width: 32px;
  height: 32px;
}

.btn-primary {
  background-color: #8AC542;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
}

input.text {
  width: 100%;
  margin: 8px 0px;
  padding: 16px 24px;
  border: 1px solid #EBEBEB;
}

label {
  font-size: 12px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

.flash {
  position: fixed;
  top: 16px;
  font-size: 12px;
  right: 16px;
  width: 160px;
  background: white;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 1;
  padding: 16px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.mini {
  min-width: 100px;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #616161;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: #f1f5f7;
  font-size: 1em;
  color: #616161;
}

a {
  text-decoration: none;
  color: #616161;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: #8AC542;
  color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

i {
  margin-top: 22px;
}
/*# sourceMappingURL=application.css.map */